{
	"useTabs": true,
	"arrowParens": "avoid",
	"experimentalTernaries": true,
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": { "parser": "astro" }
		}
	]
}
